@font-face {
  font-family: "iconfont"; /* Project id 3427927 */
  src: url('iconfont.woff2?t=1657545671533') format('woff2'),
       url('iconfont.woff?t=1657545671533') format('woff'),
       url('iconfont.ttf?t=1657545671533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e634";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-two-hearts:before {
  content: "\e602";
}

.icon-guidang:before {
  content: "\e63e";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-mail_fill:before {
  content: "\e70a";
}

.icon-musicfill:before {
  content: "\e795";
}

.icon-archive:before {
  content: "\e63b";
}

.icon-tags:before {
  content: "\ec34";
}

.icon-link:before {
  content: "\e614";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-tool:before {
  content: "\e70c";
}

